@import "tailwindcss";

/* CONFIGURATION */
@theme {
  --color-whitecolor: var(--color-whitecolor);
  --color-blackcolor: var(--color-blackcolor);
  --font-sans: var(--font-inter), "Inter", sans-serif;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-background: var(--color-background);
  --color-muted: var(--color-muted);
  --color-border: var(--color-border);
  --color-error: var(--color-error);
  --color-inputboxbg: var(--color-inputboxbg);
}

/* DARK MODE SETUP */
@custom-variant dark (&:where(.dark, .dark *));

/* COLOR PALETTE */
:root {
  --color-blackcolor: #09090b;
  --color-whitecolor: #ffffff;
  --color-primary: #0c36fa;
  --color-secondary: #f4f4f5;
  --color-tertiary: #18181b;
  --color-background: #ffffff;
  --color-muted: #71717a;
  --color-border: #e4e4e7;
  --color-error: #ef4444;
  --color-inputboxbg: color-mix(
    in srgb,
    var(--color-secondary) 15%,
    transparent
  );
}

.dark {
  --color-background: #2c2c2c;
  --color-secondary: #18181b;
  --color-primary: #60a5fa;
  --color-blackcolor: #fafafa;
  --color-whitecolor: #ffffff;
  --color-tertiary: #fafafa;
  --color-muted: #a1a1aa;
  --color-border: #38383f;
  --color-error: #f87171;
  --color-inputboxbg: color-mix(
    in srgb,
    var(--color-secondary) 15%,
    transparent
  );
}

/* GLOBAL RESETS */
body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-blackcolor);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Auto-switch text color in dark mode */
.dark body {
  color: var(--color-whitecolor);
}

@layer base {
  /* WebKit Browsers (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-muted);
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* The large shadow covers the yellow default */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;

    /* Forces the text to be black (or use var(--color-tertiary) for your theme) */
    -webkit-text-fill-color: black !important;

    /* This transition trick keeps it stable */
    transition: background-color 5000s ease-in-out 0s;
  }
}
